// Colors
$color-blue-dark: #6d7f97;
$color-grayish-blue: #9eafc2;
$color-grayish-blue-dark: #48556a;
$color-grayish-blue-light: #ecf2f8;

// Media
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 870px) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  background-color: #f2f2f2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: 144rem;
  height: 80rem;
  margin: 0 auto;
  padding-block: 26rem;
  background-color: $color-grayish-blue-light;

  @include respond(phone) {
    max-width: 37.5rem;
    height: 66.7rem;
    padding-block: 7.4rem 8.1rem;
  }
}
