*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  background-color: #f2f2f2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.container {
  max-width: 144rem;
  height: 80rem;
  margin: 0 auto;
  padding-block: 26rem;
  background-color: #ecf2f8;
}
@media (max-width: 870px) {
  .container {
    max-width: 37.5rem;
    height: 66.7rem;
    padding-block: 7.4rem 8.1rem;
  }
}

.component {
  position: relative;
  max-width: 73rem;
  height: 28rem;
  background-color: white;
  border-radius: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}
@media (max-width: 870px) {
  .component {
    max-width: 32.7rem;
    height: 51.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
    overflow: hidden;
  }
}
.component__img {
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
  max-width: 28.5rem;
}
@media (max-width: 870px) {
  .component__img {
    border-radius: 0;
    max-width: 100%;
    height: 20rem;
  }
}
.component__img img {
  height: 28rem;
}
@media (max-width: 870px) {
  .component__img img {
    height: 24rem;
    width: 32.7rem;
  }
}
.component__content {
  padding: 3.2rem 4rem;
}
@media (max-width: 870px) {
  .component__content {
    padding: 3.6rem 3.2rem 2rem 3.2rem;
  }
}
.component__content--headline {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  color: #48556a;
  margin-bottom: 1.2rem;
}
@media (max-width: 870px) {
  .component__content--headline {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.2px;
  }
}
.component__content--text {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.121875px;
  color: #6d7f97;
  margin-bottom: 2rem;
}
@media (max-width: 870px) {
  .component__content--text {
    margin-bottom: 3.2rem;
  }
}
.component__content--author {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}
.component__content--author-avatar {
  height: 4rem;
  margin-right: 1.6rem;
  border-radius: 50%;
}
.component__content--author-name {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 0.121875px;
  color: #48556a;
}
.component__content--author-name span {
  font-weight: 500;
  color: #9eafc2;
}
.component__content--author-share {
  padding: 1rem;
  background-color: #ecf2f8;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  fill: #6e8098;
  transition: all 0.2s;
}
.component__content--author-share:hover {
  background-color: #6d7f97;
  fill: white;
}
.component__content--author-share-icon {
  width: 1.5rem;
  height: 1.3rem;
  pointer-events: none;
}

.share {
  display: none;
  position: absolute;
  top: 13rem;
  right: -6.7rem;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
}
@media (max-width: 870px) {
  .share {
    top: 88%;
    right: 0;
    height: 100%;
    width: 100%;
  }
}
.share__bubble {
  position: relative;
  background: #48556a;
  border-radius: 1rem;
  padding: 1.8rem 3.7rem;
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 870px) {
  .share__bubble {
    border-radius: 0;
    align-items: center;
    height: 6.4rem;
  }
}
.share__bubble--text {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  color: #9eafc2;
}
.share__bubble img {
  cursor: pointer;
}
.share__bubble--icon {
  display: none;
  padding: 1rem;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  background-color: #6d7f97;
  fill: white;
  margin-left: 3rem;
}
@media (max-width: 870px) {
  .share__bubble--icon {
    display: grid;
  }
}
.share__bubble--icon svg {
  width: 1.5rem;
  height: 1.3rem;
  pointer-events: none;
}
.share__bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-top-color: #48556a;
  border-bottom: 0;
  margin-left: -1rem;
  margin-bottom: -1rem;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
}
@media (max-width: 870px) {
  .share__bubble::after {
    display: none;
  }
}

.show {
  display: block;
}

.active {
  background-color: #6d7f97;
  fill: white;
}/*# sourceMappingURL=main.css.map */